<%= render "layouts/sidebar" %>
<%= render "layouts/list_header" %>

<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<%= link_to sites_path do %>
		<div class="widget">
			<div class="widget-body">
				<div class="widget-icon red pull-left">
					<span class="glyphicon glyphicon-globe glyphicon-large"></span>
				</div>
				<div class="widget-content pull-left">
					<div class="title"><%= @no_of_sites %></div>
					<div class="comment">Site(s)</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<%= link_to organizations_path do %>
		<div class="widget">
			<div class="widget-body">
				<div class="widget-icon orange pull-left">
					<span class="glyphicon glyphicon-briefcase glyphicon-large"></span>
				</div>
				<div class="widget-content pull-left">
					<div class="title"><%= @no_of_orgs %></div>
					<div class="comment">Organization(s)</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<%= link_to needed_items_path do %>
		<div class="widget">
			<div class="widget-body">
				<div class="widget-icon blue pull-left">
					<span class="glyphicon glyphicon-flag glyphicon-large"></span>
				</div>
				<div class="widget-content pull-left">
					<div class="title"><%= @no_of_urgent_needs %></div>
					<div class="comment">urgent needs.</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% end %>
	</div>

	<div class="col-md-3 col-sm-6 col-xs-12">
		<%= link_to sites_path do %>
		<div class="widget">
			<div class="widget-body">
				<div class="widget-icon blue pull-left">
					<span class="glyphicon glyphicon-user glyphicon-large"></span>
				</div>
				<div class="widget-content pull-left">
					<div class="title"><%= @no_of_people_needing_relief %></div>
					<div class="comment">people in need</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<% end %>
	</div>

</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="widget">
			<div class="widget-header">
				Latest News
			</div>
			<div class="widget-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Source</th>
								<th>Title</th>
								<th>Published Date</th>
							</tr>	
						</thead>		
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="row">
			<div class="">		
				<div class="widget">
					<div class="widget-header">
						Highest Priority Sites
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>Location</th>
										<th>#People</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="">		
				<div class="widget">
					<div class="widget-header">
						Most Needed Items
					</div>
					<div class="widget-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Name</th>
										<th>#Items</th>
										<th>Needed By Date</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			</div>
		</div>

	</div>
</div>
