<!DOCTYPE html>
<html>
<head>
	<title>Earthquake Relief</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
  <%= flash_messages %>
	<div id="page-wrapper" class="active">
		<%= render 'layouts/sidebar' %>
		<div id="content-wrapper">
			<div class="page-content" data-no-turbolink="true">
				<%= yield %>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
			$(function(){
				$('#flash').css('position', 'fixed');
				$('#flash').css('top', '0');
				$('#flash').css('left', '30%');
				$('#flash').css('z-index', '1');
				$('#flash').css('width', '50%');
				$('#flash').css('border-color', 'black');
		   $('#flash').delay(500).fadeIn('normal', function(){
		      $(this).delay(500).fadeOut(8000);
		   });
		  });
	</script>
</body>
</html>
